### Assignment-03 (Strings)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create a string variable with your name and print it.

In [100]:
name = "Hafiz Muhammd Haris"
print ('Name: ' , name)

Name:  Hafiz Muhammd Haris

Define a multiline string that includes line breaks and print it.

In [101]:
multiline_string = """ My name is haris.
My roll no is MSDSF23M034
I am a student of MSDS in PUCIT.
"""
print (multiline_string)

 My name is haris.
My roll no is MSDSF23M034
I am a student of MSDS in PUCIT.

Access the first character of a string.

In [102]:
string = 'Hello World!'
print ('String: ' , string)
first_ch = string[0] # 'H' will assign
print ('First Character: ' , first_ch)

String:  Hello World!
First Character:  H

Access the last character of a string.

In [103]:
string = 'Hello World!'
print ('String: ' , string)
last_ch = string[-1] # 'd' will assign. 
print ('Last Character: ' , last_ch)

String:  Hello World!
Last Character:  !

Access the second to the fifth character of a string.

In [104]:
string = 'Hello World!'
print ('String: ' , string)
second_to_fifth_ch = string[1:5]
print ('Second to Fifth Characters: ' , second_to_fifth_ch)

String:  Hello World!
Second to Fifth Characters:  ello

Attempt to change a character within an existing string and explain the result.

In [11]:
string = 'Hello World'
string[0] = 'P'

# This is because String are Immutable

TypeError: 'str' object does not support item assignment


Slice a string to obtain the first 3 characters.

In [105]:
string = 'Hello World'
print ('String: ' , string)
first_three_ch = string[:3] # Return first three character
print ('First Three Characters: ' , first_three_ch)

String:  Hello World
First Three Characters:  Hel

Slice a string to obtain the last 4 characters.

In [106]:
string = 'Hello World'
print ('String: ' , string)
last_four_ch = string[-4:] 
print ("Last Four Characters: " , last_four_ch)

String:  Hello World
Last Four Characters:  orld

Slice a string to get every second character.

In [107]:
string = 'HelloWorld'
print ('String: ' , string)
print ("Every Second Elements: " , string[1::2])  # string[start_index:end_index:steps]

String:  HelloWorld
Every Second Elements:  elWrd

Reverse a string using slicing.

In [108]:
string = 'Hello World'
print ("Before Reverse: " , string)
string = string[-1::-1]
print ("After Reverse: " , string)

Before Reverse:  Hello World
After Reverse:  dlroW olleH

Create two string variables and concatenate them.

In [109]:
first_name = 'Haris'
last_name = 'Mayo'
name = first_name + last_name

print ('Name: ' , name)

Name:  HarisMayo

Concatenate a string with a number (convert the number to a string first).

In [91]:
string = 'MSDSF23M0'
num = 34 
roll_no = string + str(num)
print ('Roll No: ' , roll_no)

Roll No:  MSDSF23M034

Generate a string that repeats "abc" 10 times.

In [110]:
string = 'abc'
print ('String: ' , string)
print ('Result: ' , string * 10)

String:  abc
Result:  abcabcabcabcabcabcabcabcabcabc

Create a string containing a repeating pattern of your choice.

In [115]:
string = 'abc'
print ('String: ' , string)
num = int(input('How many times string repeat: '))
print ('Result: ' , string * num)

String:  abc
How many times string repeat: 6
Result:  abcabcabcabcabcabc

Convert a string to lowercase using the lower() method.

In [116]:
string = "I am PaKISTani."
print ('String: ' , string)
print ('Lowercase: ' , string.lower())

String:  I am PaKISTani.
Lowercase:  i am pakistani.


Convert a string to uppercase using the upper() method.

In [117]:
string = "I am PaKISTani."
print ('String: ' , string)
print ('Uppercase: ' , string.upper())

String:  I am PaKISTani.
Uppercase:  I AM PAKISTANI.

Remove leading and trailing whitespace from a string using the strip() method.

In [118]:
string = "         I am PaKISTani.          "
print ('Before Striping: ' , string)
print ('After Striping: ' , string.strip())

Before Striping:           I am PaKISTani.
After Striping:  I am PaKISTani.

Check if a string starts with a specific prefix using the startswith() method.

In [120]:
qoute = "Albert Einstein said: You cannot solve a problem with the same mind that created it."
print (qoute.startswith('Albert Einstein'))
print (qoute.startswith('Newton'))

True
False

Split a string into a list of words using the split() method.

In [121]:
string = 'Punjab is a province of Pakistan'
print ('String: ' , string)
list1 = string.split()
print ('List: ' , list1)

String:  Punjab is a province of Pakistan
List:  ['Punjab', 'is', 'a', 'province', 'of', 'Pakistan']

Join a list of words into a single string using the join() method.

In [123]:
# join is the inverse of split
list2 = ['GOD','is','One']
print ('List: ' , list2)
delimiter = ' '
string = delimiter.join(list2)
print('String: ' , string)

List:  ['GOD', 'is', 'One']
String:  GOD is One